* {
box-sizing: border-box;
margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(137, 204, 198);
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 2%;
}

.widget {
  text-align: center;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
}

.widget .widget-text {
  flex-basis: 25%;
}

.widget .track {
  flex-basis: 25%;
}

.widget .track-pic {
  width: 10vw;
}

.player {
  padding-top: 2%;
}

.search {
  padding: 2% 0%;
}

.search-form {
  width: 100%;
}

.search-form input {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  cursor: pointer;
  flex-basis: 28%;
  margin-bottom: 5%;
}

.artist-pic {
  width: 25vw;
  display: block;
  margin: auto;
}

.name, .track-count {
  text-align: center;
}

.track {
  cursor: pointer;
  flex-basis: 22%;
  margin-bottom: 2%;
}

.track-pic {
  width: 18vw;
  display: block;
  margin: auto;
}

.track-title, .track-artist {
  text-align: center;
  font-size: 0.5rem;
  font-weight: 500;
}

/*-------RESPONSIVE DESIGN-------*/
/*-------Tablet Display-------*/

@media screen and ( min-width: 545px ) {

}

/*-------Desktop Display-------*/

@media screen and ( min-width: 769px ) {

}
